<!DOCTYPE html>
<html>
<head>
    <title>Dell-Hack2Hire</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
</head>
<body style="background: linear-gradient(75deg,#ecc7c7,rgb(247, 146, 146),#ffe079,#99eeff,rgb(233, 172, 255),#48cfe7); background-size: 300% 300%;animation: gradient 5s ease infinite;">
  <div class="container"><br><br><br><br><br>
            <div class="col-md-8 offset-md-2 shadow-lg p-3 mb-5 bg-white rounded" style="background: linear-gradient(455deg,#d4e6e9,rgb(226, 206, 226));">
                <div class="panel-heading text-center">
                    <p style="font-size: x-large; font-style: italic; font-variant: normal; font-family: Georgia, 'Times New Roman', Times, serif;">Please add validation attributes</p>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" action="{{ url_for('design') }}">
                        <select name="columns" style="width:250px; position: relative; margin-left: 150px;border:azure: none:">
                            <option value="">Select the Number of columns</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input style="border-radius: 25px;
                            background: #323435;
                            color: #d4e6e9;
                            padding: 7px;
                            width: 150px;
                            height: 40px;" type="submit" value="Select Columns"><br><br>
                            {% if value=="1" %}
                            {% for i in range(1) %}
                            <div class="list_wrapper">  
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <select name="colnum" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                            <option value="">Select col number</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <select name="datatype" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                            <option value="">Select data type</option>
                                            <option value="String">String</option>
                                            <option value="Numeric">Numeric</option>
                                            <option value="Alphanumeric">Alphanumeric</option>
                                            <option value="Date">Date</option>
                                            <option value="Time">Time</option>
                                        </select>
                                    </div> 
                                    <div class="col-xs-3 col-sm-3 col-md-3">
                                        <select name="template" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                            <option value="">Select template</option>
                                            <option value="Age">Age</option>
                                            <option value="Gender">Gender</option>
                                            <option value="Phone number">Phone number</option>
                                            <option value="E-mail">E-mail</option>
                                            <option value="Name">Name</option>
                                        </select>
                                    </div> 
                                </div>
                            </div> 
                           {% endfor %}
                           {% endif %}        
                            {% if value=="2" %}
                            {% for i in range(2) %}
                            <div class="list_wrapper">  
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <select name="colnum" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                            <option value="">Select col number</option>
                                            <option value="n{{i}}">1</option>
                                            <option value="n{{i}}">2</option>
                                            <option value="n{{i}}">3</option>
                                            <option value="n{{i}}">4</option>
                                            <option value="n{{i}}">5</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4">
                                        <select name="datatype" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                            <option value="">Select data type</option>
                                            <option value="d{{i}}">String</option>
                                            <option value="d{{i}}">Numeric</option>
                                            <option value="d{{i}}">Alphanumeric</option>
                                            <option value="d{{i}}">Date</option>
                                            <option value="d{{i}}">Time</option>
                                        </select>
                                    </div> 
                                    <div class="col-xs-3 col-sm-3 col-md-3">
                                        <select name="template" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                            <option value="">Select template</option>
                                            <option value="t{{i}}">Age</option>
                                            <option value="t{{i}}">Gender</option>
                                            <option value="t{{i}}">Phone number</option>
                                            <option value="t{{i}}">E-mail</option>
                                            <option value="t{{i}}">Name</option>
                                        </select>
                                    </div> 
                                </div>
                            </div> 
                        {% endfor %}
                        {% endif %}
                        {% if value=="3" %}
                        {% for i in range(3) %}
                        <div class="list_wrapper">  
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <select name="colnum" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                        <option value="">Select col number</option>
                                        <option value="n{{i}}">1</option>
                                        <option value="n{{i}}">2</option>
                                        <option value="n{{i}}">3</option>
                                        <option value="n{{i}}">4</option>
                                        <option value="n{{i}}">5</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <select name="datatype" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                        <option value="">Select data type</option>
                                        <option value="d{{i}}">String</option>
                                        <option value="d{{i}}">Numeric</option>
                                        <option value="d{{i}}">Alphanumeric</option>
                                        <option value="d{{i}}">Date</option>
                                        <option value="d{{i}}">Time</option>
                                    </select>
                                </div> 
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <select name="template" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                        <option value="">Select template</option>
                                        <option value="t{{i}}">Age</option>
                                        <option value="t{{i}}">Gender</option>
                                        <option value="t{{i}}">Phone number</option>
                                        <option value="t{{i}}">E-mail</option>
                                        <option value="t{{i}}">Name</option>
                                    </select>
                                </div> 
                            </div>
                        </div> 
                    {% endfor %}
                   {% endif %}
                   {% if value=="4" %}
                        {% for i in range(4) %}
                        <div class="list_wrapper">  
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <select name="colnum" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                        <option value="">Select col number</option>
                                        <option value="n{{i}}">1</option>
                                        <option value="n{{i}}">2</option>
                                        <option value="n{{i}}">3</option>
                                        <option value="n{{i}}">4</option>
                                        <option value="n{{i}}">5</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <select name="datatype" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                        <option value="">Select data type</option>
                                        <option value="d{{i}}">String</option>
                                        <option value="d{{i}}">Numeric</option>
                                        <option value="d{{i}}">Alphanumeric</option>
                                        <option value="d{{i}}">Date</option>
                                        <option value="d{{i}}">Time</option>
                                    </select>
                                </div> 
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <select name="template" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                        <option value="">Select template</option>
                                        <option value="t{{i}}">Age</option>
                                        <option value="t{{i}}">Gender</option>
                                        <option value="t{{i}}">Phone number</option>
                                        <option value="t{{i}}">E-mail</option>
                                        <option value="t{{i}}">Name</option>
                                    </select>
                                </div> 
                            </div>
                        </div> 
                    {% endfor %}
                   {% endif %}
                   {% if value=="5" %}
                        {% for i in range(5) %}
                        <div class="list_wrapper">  
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <select name="colnum" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                        <option value="">Select col number</option>
                                        <option value="n{{i}}">1</option>
                                        <option value="n{{i}}">2</option>
                                        <option value="n{{i}}">3</option>
                                        <option value="n{{i}}">4</option>
                                        <option value="n{{i}}">5</option>
                                    </select>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <select name="datatype" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                        <option value="">Select data type</option>
                                        <option value="d{{i}}">String</option>
                                        <option value="d{{i}}">Numeric</option>
                                        <option value="d{{i}}">Alphanumeric</option>
                                        <option value="d{{i}}">Date</option>
                                        <option value="d{{i}}">Time</option>
                                    </select>
                                </div> 
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <select name="template" style="width:200px; position: relative; margin-left: 20px;border:azure: none:">
                                        <option value="">Select template</option>
                                        <option value="t{{i}}">Age</option>
                                        <option value="t{{i}}">Gender</option>
                                        <option value="t{{i}}">Phone number</option>
                                        <option value="t{{i}}">E-mail</option>
                                        <option value="t{{i}}">Name</option>
                                    </select>
                                </div> 
                            </div>
                        </div> 
                    {% endfor %}
                   {% endif %}                                           
                    </div>       
                    <input style="border-radius: 25px;
                            background: #323435;
                            color: #d4e6e9;
                            padding: 7px;
                            width: 150px;
                            height: 40px;" type="submit" value="Submit">
                    <button class="btn btn-success"><a style="text-decoration: none; color: aliceblue;" href="{{url_for('upload_func')}}">Next</a></button>
                </form>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<script>
    /*
connectOnClick = () => {
        $.post('/connect');
    }
    */
    function myFunc() {
            alert("Your message has been sent!");
            document.getElementById("email").value;
            document.getElementById("text").value;
                    }
</script>

</html>
