<!DOCTYPE html>
<html>
<head>
    <title>Dell-Hack2Hire</title>
    
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>	
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/inputfield.css')}}" />
    <script>
        $(document).ready(function(){
    var x = 0; 
    var max_fields = 10; 
    $('.list_add_button').click(function(){
    if(x < max_fields){ 
        x++; 
        var input_field = '<div class="row"><div class="col-xs-4 col-sm-4 col-md-4"><div class="form-group"><input name="list['+x+'][]" type="text" placeholder="Column name" class="form-control"/></div></div><div class="col-xs-4col-sm-4 col-md-4"><div class="form-group"><input name="list['+x+'][]" type="text" placeholder="Data type" class="form-control"/></div></div><div class="col-xs-3 col-sm-3 col-md-3"><div class="form-group"><input name="list['+x+'][]" type="text" placeholder="Length" class="form-control"/></div></div><div class="col-xs-1 col-sm-7 col-md-1"><a href="javascript:void(0);" class="list_remove_button btn btn-danger">- </a></div></div>';  
        $('.list_wrapper').append(input_field); }
    });    
    $('.list_wrapper').on('click', '.list_remove_button', function(){
       $(this).closest('div.row').remove(); 
       x--; 
    });
});
</script>

</head>
<body>
    
  <div class="container">
    <div class="row centered-form">
    
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    <h1 class="panel-title">Please add validation attributes</h1>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" action="">
                    
                    <!--<a style="text-decoration: solid; color: #444444;" href="{{url_for('validate')}}">Take</a><br><br>
                    <form action="/button" method="get">
                        <input name="textfield" type="text" placeholder="Column name" class="form-control"/>
                        <button type="button" id="connect" onclick="connectOnClick()"
                    class="btn btn-outline-primary btn-block">Connect</button>

                    
                    </form>-->
                    {% for i in range(3) %}
                    <form role="form" method="post" action="">
                    <div class="list_wrapper">  
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">  
                                    <input name="n{{i}}" type="text" placeholder="Column name" class="form-control"/>                                      
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input name="d{{i}}" type="text" placeholder="Data type" class="form-control"/>
                                </div>
                            </div> 
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <div class="form-group"> 
                                    <input name="l{{i}}" type="text" placeholder="Length" class="form-control"/>
                                </div>
                            </div> 
                        </div>
                    </div>               
                   <hr>
                   {% endfor %}
                    <hr>
                    <button class="btn btn-success" type="submit">Submit</button>
                    <button class="btn btn-success"><a style="text-decoration: none; color: aliceblue;" href="{{url_for('upload_func')}}">Next</a></button>
                    </form>
                </form>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</body>
<script>
    /*
connectOnClick = () => {
        $.post('/connect');
    }
    */
    function myFunc() {
            alert("Your message has been sent!");
            document.getElementById("email").value;
            document.getElementById("text").value;
                    }
</script>

</html>
