<!--

<html>

<form action="/" method="post">

<select>

    {​​% for each in dropdown_list %}​​

      <option value="{​​{​​each}​​}​​">{​​{​​each}​​}​​</option>

    {​​% endfor %}​​

    </select>

<form action="/" method="post">

</html>

-->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


        <form action="/" method="post">
        <select name="month">
            <option value="January">January</option>
            <option value="February">February</option>
        </select>
            <input type="submit" value="Select Month">
        </form>
    
 <!-- <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
</div>
</div>
-->
</body>
</html>

<!--
<html>

    <head>

        <title>Dropdown Example</title>

    </head>

    <body>

        {​​% if data %}​​

            <div>

                <h3>Monthly Data</h3>

                <p>{​​{​​ data }​​}​​</p>

            </div>

        {​​% endif %}​​

        <form action="/" method="post">

            <select name="month">

                <option value="January">January</option>

                <option value="February">February</option>

                <option value="March" selected >March</option>

                <option value="April">April</option>

                <option value="May">May</option>

            </select>

            <input type="submit" value="Select Month">

        </form>

    </body>

</html>
-->


<!--

<form id="package_form" action="" method="post">

      <div class="panel-body">

          <input type ="submit" name="action" value="Download">

      </div>

      <div class="panel-body">

          <input type ="submit" name="action" value="Histogram">

      </div>

      <div class="panel-body">

          <input type ="submit" name="action" value="Search">

      </div>



 </form>

-->



<!--
<html>
    <body>

        <form method="post" action="/">

                <input type="submit" value="Encrypt" name="Encrypt1"/>
                <input type="submit" value="Decrypt" name="Decrypt1" />

        </form>
    </body>
</html>
-->