<!DOCTYPE html>
<html>
<head>
    <title>Dell-Hack2Hire</title>
    <link rel = "icon" href ="{{ url_for('static', filename='stylesheets/logo-dell.png') }}"  type = "image/x-icon">
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>	
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',  filename='assets/css/inputfield.css') }}" />
  
  <!--sample file upload, can update later-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="navbar">
        <h2> </h2>
    </div>
    <hr>
    <div class="container">
    <h2>File Upload</h2>
    <div class="card" style="width:400px">
      <div class="card-body ">
          <!--
        <form action="/upload" method="post" enctype="multipart/form-data">
        <p class="card-text">Choose a file to upload</p>
          <input type="file" name="file" value="file" accept="">
          <hr>
        <input type="submit" name="upload" value="Upload" class="btn btn-success">
        </form>
    -->
        <form method="post" action="/" enctype="multipart/form-data">
            <p class="card-text">Choose a file to upload</p>
            <p>
                <input type="file" name="file" autocomplete="off" required>
            </p>      
            <p>
                <input type="submit" value="Submit" class="btn btn-success">
            </p>
        </form>
      </div>
    </div>
    <br>
  </div>
  <!--sample file upload ends-->
