@charset "utf-8";
@import url("fontawesome-free/css/fontawesome-all.min.css");

html{overflow-y:scroll; overflow-x:hidden;}
html, body{margin:0; padding:0; font-size:14px; line-height:1.6em;}

*, *::before, *::after{box-sizing:border-box;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.uppercase{text-transform:uppercase;}
.capitalise{text-transform:capitalize;}
.hidden{display:none;}
.nospace{margin:0; padding:0; list-style:none;}
.block{display:block;}
.justified{text-align:justify;}
.inline *{display:inline-block;}
.inline *:last-child{margin-right:0;}
.borderedbox{border:1px solid;}
.overlay{position:relative; z-index:1;}
.overlay::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:""; z-index:-1;}
.bgded{background-position:top center; background-repeat:no-repeat; background-size:cover;}
.circle{border-radius:50%; background-clip:padding-box;}
.btn{display:inline-block; padding:8px 18px 10px; text-transform:uppercase; border:1px solid;}

.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

a{outline:none; text-decoration:none;}
body, input, textarea, select{font-family:Verdana, Geneva, sans-serif;}
h1, h2, h3, h4, h5, h6, .heading{font-family:Georgia, "Times New Roman", Times, serif;}

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
label, input, textarea, select, button{display:block; resize:none; outline:none; color:inherit; font-size:inherit; font-family:inherit; vertical-align:middle;}
label{margin-bottom:5px;}
:required, :invalid{outline:none; box-shadow:none;}
::placeholder{opacity:1;}

h1, h2, h3, h4, h5, h6, .heading{margin:0 0 20px 0; font-size:22px; line-height:normal; font-weight:normal; text-transform:capitalize;}
.heading.nospace{margin-bottom:0;}

address{font-style:normal; font-weight:normal;}
hr{display:block; width:100%; height:1px; border:solid; border-width:1px 0 0 0;}

.font-xs{font-size:.8rem;}
.font-x1{font-size:1.2rem;}
.font-x2{font-size:1.8rem;}
.font-x3{font-size:2.8rem;}

.wrapper{display:block; position:relative; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
.hoc{display:block; margin:0 auto;}

address, article, aside, figcaption, figure, footer, header, main, nav, section{display:block; margin:0; padding:0;}

.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:inline-block; float:left; margin:0 0 0 4.21052%; list-style:none;}
.first{margin-left:0; clear:left;}
.one_quarter{width:21.8421%;}
.one_third{width:30.52631%;}
.one_half, .two_quarter{width:47.89473%;}
.two_third{width:65.26315%;}
.three_quarter{width:73.94736%;}

.btmspace-50{margin-bottom:50px;}
.btmspace-80{margin-bottom:80px;}
.rgtspace-50{margin-right:50px;}
.rgtspace-80{margin-right:80px;}
.inspace-50{padding:50px;}

#header{padding:50px 0;}
#header #logo *{margin:0; padding:0; line-height:1;}
#header #logo h1{display:inline-block; position:relative; padding-bottom:8px; font-size:32px;}
#header #logo h1::before, #header #logo h1::after{display:block; position:absolute; bottom:0; width:100%; height:1px; content:"";}/* Creates the 2 lines underneath the logo */
#header #logo h1::before{bottom:3px;}
#header #logo h1 span{text-transform:uppercase;}
#header ul li div{position:relative; min-height:30px; padding:0 0 0 35px; line-height:1;}
#header ul li div i{position:absolute; top:0; left:0; width:25px; height:23px; font-size:20px; text-align:center;}
#header ul li div span{display:block;}
#header ul li div strong{display:block; margin:0 0 8px 0;}
#header div:last-child{margin-bottom:0;}

#searchform{display:block; position:relative; float:right; height:58px; line-height:1; z-index:999;}
#searchform::after{display:block; height:58px; line-height:58px; padding:0 15px; font-size:20px; font-family:"Font Awesome\ 5 Free"; font-weight:900; content:"\f002"/* fa-search */;}
#searchform:hover::after, #searchform button{cursor:pointer;}
#searchform > div{position:absolute; top:58px; right:0; width:280px; visibility:hidden; opacity:0;}
#searchform:hover > div{visibility:visible; opacity:1;}
#searchform form{display:block; position:relative;}
#searchform form *{border:none;}
#searchform input{display:block; width:100%; height:36px; padding:8px 40px 8px 10px; font-size:1rem;}
#searchform ::placeholder{text-transform:capitalize;}
#searchform button{display:block; position:absolute; top:3px; right:2px; height:30px; font-size:16px; line-height:1;}

#pageintro{padding:180px 0;}
#pageintro article{display:block; max-width:60%; margin:0 auto; text-align:center;}
#pageintro .heading{margin-bottom:20px; font-size:4rem;}
#pageintro p:first-of-type{margin:0 0 20px 0; text-transform:uppercase; font-size:1.6rem; letter-spacing:5px;}
#pageintro footer{margin-top:50px;}

.container{padding:80px 0;}
.container .content{}

.sectiontitle{display:block; max-width:55%; margin:0 auto 80px; text-align:center;}
.sectiontitle *{margin:0;}

.ringcon, .ringcon::before{border-radius:50%;}
.ringcon{display:inline-block; position:relative;}
.ringcon::before{display:block; position:absolute; top:20px; left:20px; width:120px; height:120px; border:2px solid; content:"";}
.ringcon i{display:block; position:relative; width:160px; height:160px; line-height:160px; font-size:50px;}

#footer{padding:80px 0;}
#footer .heading{margin-bottom:50px; font-size:1.2rem;}
#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}
#footer input, #footer button{border:1px solid;}
#footer input{display:block; width:100%; padding:8px;}
#footer button{padding:8px 18px 10px; text-transform:uppercase; font-weight:700; cursor:pointer;}
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}

#mainav form *{transition:none !important;}
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"Font Awesome\ 5 Free"; font-weight:900; font-size:10px; line-height:10px;}

#mainav{display:block; float:left;}
#mainav ul{text-transform:uppercase;}
#mainav li{display:block; float:left; position:relative; margin:0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:20px;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; width:100%; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:none;}
#mainav form select option{margin:5px; padding:0; border:none;}

#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}

.box {  padding: 20px;  font-size: 30px;  width: 50px;  text-align: center;  text-decoration: none;  margin: 5px 2px;}
.box:hover { opacity: 0.7;}
.fa-facebook {  background: #3B5998;  color: white;}
.fa-twitter {  background: #55ACEE;  color: white;}
.fa-google {  background: #dd4b39;  color: white;}
.fa-linkedin {  background: #007bb5;  color: white;}
.fa-instagram {  background: #125688;  color: white;}

body{color:#474747; background-color:#FFFFFF;}
a{color:#95103B;}
a:active, a:focus{background:transparent;}
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#95103B;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.light{color:#474747;}
.overlay.light::after{background-color:rgba(255,255,255,.7);}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#95103B; border-color:#95103B;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

.row1, .row1 a{color:#FFFFFF; background-color:	#052f67;}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#C1C2C4; background-color:#323639;}
.row5, .row5 a{color:#C1C2C4; background-color:#2A2D34;}

.gradient{color:#FFFFFF; background:linear-gradient(to bottom right, #8F9297, #C1C2C4);}

#header #logo h1::before{background-color:#474747;}
#header #logo h1::after{background-color:#95103B;}
#header #logo h1 a{color:inherit;}
#header #logo h1 span{color:#95103B;}

#searchform{color:rgba(255,255,255,.5); background:#285684;}
#searchform:hover{color:#FFFFFF;}
#searchform input{color:#FFFFFF; background:#285684;}
#searchform button{color:#FFFFFF; background:transparent;}

.ringcon{color:#FFFFFF; background-color:#052f67;}
.ringcon::before{background-color:#285684; border-color:rgba(255,255,255,.3);}
.ringcon:hover{background-color:#285684;}
.ringcon:hover::before{background-color:#052f67;}

.overview a{color:inherit;}
.overview article:hover a{color:#95103B;}

#footer .heading{color:#FFFFFF;}
#footer hr, #footer .borderedbox, #footer .linklist li{border-color:rgba(255,255,255,.1);}

#footer input, #footer button{border-color:transparent;}
#footer input{color:#474747; background-color:#C1C2C4;}
#footer input:focus{border-color:#95103B;}
#footer button{color:#FFFFFF; background-color:#95103B;}

#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#D5ACBB; background-color:inherit;}
#mainav form select{color:#474747; background-color:#FFFFFF;}
#backtotop{color:#FFFFFF; background-color:#052f67;}

@-ms-viewport{width:device-width;}
@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
}
@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}
